* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    width: 90%;
    margin: 1em auto;
}

.sezione-prodotti {
    width: 100%;
}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.float {
    float: left;
    width: 33%;
}

.immagine {
    width: 100%;
}

.centro {
    width: calc(33% - 20px);
    margin-left: 10px;
    margin-right: 10px;
}