/* formattazione */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 90%;
    margin: 1em auto;
}

/* fine formattazione */

/* dimensione del blocco dei prodotti */

.sezione-prodotti {
    width: 100%;
}

/* /dimensione del blocco dei prodotti */

/* debug per float */

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.float {
    float: left;
    width: 33%;
}

/* /debug per float */

/* struttura della sezione prodotto */

.colonna {
    padding: 10px;
    position: relative;
}

.immagine-principale {
    width: 100%;
}

.immagine-secondaria {
    width: 100%;
    display: none;
}

.sconto, .sostenibilità {
    display: inline-block;
    color: white;
}

.sconto {
    padding: 5px;
    background-color: red;
    position: absolute;
    bottom: 25%;
    left: 10px;
}

.sostenibilità {
    padding: 5px;
    background-color: green;
    position: absolute;
    bottom: 25%;
    left: 65px;
}

.cuore {
    color: black;
    text-decoration: none;
    position: absolute;
    top: 5%;
    right: 4%;
    background-color: white;
    padding: 5px;
    cursor:pointer;
}

.marca-prodotto {
    font-size: 0.8em;
}

.nome-prodotto {
    text-transform: uppercase;
    font-size: 1em;
}

.prezzo-scontato {
    color: red;
}

.prezzo-barrato {
    text-decoration-line: line-through;
}

.solo {
    position: absolute;
    bottom: 25%;
    left: 10px;
}

/* /struttura della sezione prodotto */

/* regole per hover */

.cuore:hover {
    color: red;
}

.colonna:hover > .immagine-principale {
    display: none;
}

.colonna:hover > .immagine-secondaria {
    display: block;
}

/* /regole per hover */